@import "./utils//mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
    color: #f5f5f5;
    width: 100%;
    height: 100dvh;
}

.App {
    width: 100%;
    height: 100dvh;
    background: url("./assets/background-image.png") no-repeat center center/cover;
    background-color: rgb(0 0 0 / 1);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;

    .heading {
        font-size: 2.25rem;
        font-weight: bold;
        color: #e0e0e0;

        @include sm {
            font-size: 3.75rem;
        }

        .highlight {
            color: #f87315;
        }
    }

    /* Subheading styles */
    .subheading {
        margin-top: 0.75rem;
        color: #b0b0b0;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 32px;
        width: 90%;

        .text-area-container {
            flex: 0 0 50%;
            width: 50%;

            .error {
                font-size: 12px;
                color: #f44336;
            }

            .text-area-content {
                width: 100%;
                background: #171717;
                border-radius: 8px;
                height: 350px;
                border: 1px solid #404040;
                padding: 0.75rem;

                .text-area {
                    width: 100%;
                    height: 90%;
                    background: none;
                    border: none;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    resize: none;
                    padding: .5rem;
                }

                .bottom-container {
                    margin-top: 8px;
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }
}

.loader {
    padding: 0.5rem;

    .loader-text {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 4px;

        .dot {
            animation: blink 1.5s infinite;
        }

        .dot:nth-child(2) {
            animation-delay: 0.2s;
        }

        .dot:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes dotsAnimation {
    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}